#menu{
    background-color: lightblue;
    float: left;
    width: 140px;
    padding-left: 10px;
}
#menu ul{
    list-style-type: none;
}
#menu ul a:hover
{
    background-color: white;
}
#container{
    background-color: white;
    margin-left: 160px;
}
#footer
{
    background-color: gray;
    text-align: center;
    height: 100px;
}
#header{
    margin-left: 160px;
    background-color: black;
    color: white;
}
#header a{
  
    margin-left: 600px;
    background-color: black;
}